$primary-color: #526eff; // Основной синий для акцентов и кнопок
$secondary-color: #b3d4fc; // Светло-синий для второстепенных элементов и границ
$text-dark: #333333; // Тёмно-серый для заголовков и основного текста
$text-secondary: #666666; // Серый для второстепенного текста
$background-light: #f5f7f9; // Светло-серый фон
$green-color: rgba(90, 205, 102, 1);
$spacing: 10px; // Базовый отступ для консистентности
$space20: 20px;
$space30: 30px;
$space40: 40px;
$space50: 50px;
$space60: 60px;
$border-radius: 8px; // Радиус скругления для кнопок и полей
$font-family: "Roboto", sans-serif; // Базовый шрифт (можно адаптировать под макет)
$breakpoints: (
    sm: 576px,
    // мобильные устройства
    md: 768px,
    // планшеты
    lg: 992px,
    // ноутбуки
    xl: 1200px // десктопы
);
